@CHARSET "UTF-8";

body {
	background: url(../images/background.jpg) repeat-x;
	background-color: #FFFFFF;
}

.center {
	text-align: center;
	margin: 0 auto;
}

#center {
	align: center;
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 500px;
	height: 380px;
	border: 1px solid #b5d7f3;
	background-color: #FFF;
}

#title {
	float: left;
	color: #0000FF;
	font-weight: bold;
	font-size: 23px;
}

#content {
	text-align: center;
	color: #FF0000;
	font-size: 50px;
	font-weight: bold;
	background-color: #ECFAFB;
	height: 325px;
}

.input {
	width: 80px;
	height: 40px;
	background: url(../images/return.png);
	border: 2px solid #FC5D5D;
	cursor: pointer;
}

#upload {
	text-align: center;
	margin: 0 auto;
}

label {
	font-size: 18px;
}

body {
	background: url(../images/background.jpg) repeat-x;
	background-color: #FFFFFF;
}

.success {
	color: #FF0000;
	font-size: 50px;
	font-weight: bold;
}

.click {
	font-size: 16px;
	color: #000;
}

a {
	color: #00F;
}

a:hover {
	color: #F00;
}


/*版权部分*/
.CR_p {
	color: black;
	font-size: 12px;
	text-align: center;
}