@CHARSET "UTF-8";

body {
	margin-top: 10px;		
	background: url(../images/background2.jpg) repeat-x;
	background-color: #FFFFFF;
}

#index {
	position: absolute;
	top: 10px;
	left: 1180px;
}

#index a {
	color: #0000FF;
	font-size: 14px;
}

.img1 {
	width: 200px;
	height: 80px;
}

#resources_div {
	display: block;
	position: absolute;
	left: 220px;
	top: 160px;
	border: 1px solid #ECFAFB;
	width: 1120px;
	background: #FFFFFF;
}

#word_div,#stop_div {
	display: none;
	position: absolute;
	left: 220px;
	top: 160px;
	border: 1px solid #ECFAFB;
	width: 1120px;
	background: #FFFFFF;
}

.title {
	background: url(../images/title_bg.jpg);
	width: 1113px;
	height: 25px;
	padding-left: 8px;
	padding-top: 6px;
}

A.menuParent:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.menuParent:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.menuParent:hover {
	COLOR: #f00; TEXT-DECORATION: none
}

A.menuChild {
	color: #00f;
	cursor: pointer;
	text-decoration: none;
	outline :none ;   
	-moz-outline :none;
}

A.menuChild:hover { /*鼠标经过时的超链接*/
	text-decoration: underline;
	color: #f00;
}