/* CSS Document */
#image {
	margin-bottom: 10px;
	margin-left: 5px;
	margin-top: 10px;
	list-style-type: none;
	width: 90%;	
}

#image a {
	width: 180px;
	height: 180px;
	margin: 10px;
	border: 0px;
}

#image img {
	width: 180px;
	height: 180px;
	margin: 0px;
	border: 0px;
}

#no_result {
	display: hidden;
}

#imgsearch img {
	width: 200px;
	height: 200px;
	margin: 5px;
	border: 0px;
}

#picture img {
	width: 200px;
	height: 200px;
}

#picture {
	position: absolute;
	top: 180px;
	left: 850px;
}