/* CSS Document */ /*背景*/
body {
	background: url(../images/background.jpg) repeat-x;
	background-color: #FFFFFF;
}

a {
	color: #00F;
}

.login a:hover, .info a:hover {
	color: #F00;
}

.logo {
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.center {
	text-align: center;
	margin: 0 auto;
}

#center {
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 605px;
	height: 200px;
}

#search {
	height: 200px;
	margin: 0 auto;
	text-align: center;
	width: 605px;
	position: relative;
}

/*字体链接设置*/
#nav {
	width: 605px;
	position: relative;
}

.nav {
	position: absolute;
	left: 60px;
}

#br {
	height: 26px;
	border: 0px;
}

.nav a {
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
	padding: 4px 13px;
	outline: none;
	-moz-outline: none;
	float: left;
}

.nav a:hover { /*鼠标经过时的超链接*/
	text-decoration: underline;
	font-weight: bold;
}

.selectedType { /*已选择的文字样式*/
	background-image: url(../images/tab.png);
	color: black;
}

.search_div input {
	border: 2px solid #4AB9CC;
	border-right: 0 none;
	float: left;
	font-size: 20px;
	background-color: #FFFFFF;
	padding-left: 6px;
	padding-top: 4px;
	margin-top: 5px;
}

.keyword {
	height: 37px;
	width: 400px;
	margin-left: 60px;
}

.search_btn {
	background: url(../images/search.png);
	width: 88px;
	height: 37px;
	cursor: pointer;
}

#camera {
	display: none;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}

.search_div img {
	border: 0px;
}

.suggestion_show {
	font-size: 18px;
	display: block;
	color: #FF0000;
	width: 484px;
	border: 2px solid #4AB9CC;
	border-top: 0 none;
	position: absolute;
	top: 68px;
	left: 60px;
}

.suggestion_hidden {
	display: none;
}

.selectedItem {
	background-color: #C5F3EF;
}

#picture_div {
	display: none;
	position: absolute;
	top: -8px;
	left: 45px;
	width: 560px;
	height: 135px;
	border: 1px solid #4AB9CC;
	background-color: #FFFFFF;
	padding-left: 6px;
}

#picture_div a {
	cursor: pointer;
} 

#picture_div p {
	text-align: left;
	font-size: 18px;
	color: blue;
}

#picture_div input {
	float: left;
}

#picture_btn {
	display: none;
	background: url(../images/search.png);
	width: 88px;
	height: 37px;
	position: absolute;
	right: 6px;
	bottom: 10px;
	border: 2px solid #4AB9CC;
	cursor: pointer;
}

#picture_div img {
	position: absolute;
	top: 6px;
	right: 6px;
	border: 0px;
}

th {
	color: #0000FF;
}