/* CSS Document */

#center {
	text-align: center;
	margin: 0 auto;
}

.login_box {
	height: 170px;
	width: 275px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
	background-color: #DDEEF6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 10px #cccccc;
	-moz-box-shadow: 0px 0px 10px #cccccc;
	box-shadow: 0px 0px 10px #cccccc; 
}
.input_label {
	float: left;
	width: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
	color: #0000FF;
	padding-top: 5px;
	padding-bottom: 2px;
}
.input {
	float: left;
	clear: both;
	width: 250px;
	padding: 5px;
	border: 1px solid #ACE;
		-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.button {
	float: left;
	clear: both;
	width: 75px;
	padding: 5px;
	border: 1px solid #ACE;
	background: #b3dced; /* old browsers */
	background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* ie */
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	margin-top: 10px;
	text-shadow:0 -1px 0 #3399DD;
	cursor: pointer;
}
.links_wrap {
	clear: both;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
body {
	background-color: #AACCEE;
}
