
.center {
	text-align: center;
	margin: 0 auto;
}

#page {
	background-color:#efefef;
	width:800px;
	margin:50px auto;
	min-height:600px;
	border:2px solid #fff;
	outline:1px solid #ccc;
	text-align:center;
}
